<section class="history-hero">
  <img class="hero-bg-image" ngSrc="/images/history/history.jpeg" alt="" fill priority>
  <div class="hero-overlay"></div>

  <div class="hero-content-wrapper large-container">
    <h1 class="hero-title">
      Les <span class="title-gold">Bâtisseurs</span> de notre Liberté : L’Histoire et <span class="title-gold">les
        Héros </span> du Congo
    </h1>
    <p class="hero-subtitle">
      Derrière la date historique du 15 août se cachent des destins exceptionnels, des luttes courageuses et une quête
      inébranlable de souveraineté. Explorez la galerie de nos héros nationaux et laissez-vous inspirer par l’esprit du
      Congo d'hier et d'aujourd'hui.
    </p>
  </div>
</section>