@use '../../../../styles/variables' as *;

.reassurance-section {
  position: relative;
  width: 100%;
  height: 50rem;
  overflow: hidden;
  display: flex;
  justify-content: center;

  img {
    object-fit: cover;
  }

  .reassurance-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom,
        rgba(5, 10, 15, 0) 0%,
        rgba(0, 0, 0, 0) 80%,
        rgba(5, 10, 15, 0.88) 100%);
  }

  /* Content wrapper — max 1300px */
  .reassurance-container {
    width: 100%;
    position: relative;
    z-index: 1;
    height: 100%;

    @media (max-width: 768px) {
      .reassurance-text {
        left: unset !important;
        top: 0;
        right: 1rem !important;
        height: fit-content;
        padding: 1rem !important;
      }
    }

    @media (max-width: 480px) {
      .reassurance-text {
        right: 50% !important;
        transform: translateX(50%);
      }
    }


    /* Description text */
    .reassurance-text {
      position: absolute;
      padding: 2rem;
      font-family: $font-family-inter;
      font-size: 1rem;
      font-weight: 400;
      color: $text-primary;
      line-height: 1.6;
      background-color: $bg-primary;
      border-radius: 1rem;
      left: 1rem;
      bottom: 2rem;
      max-width: 400px;
      width: 100%;
    }
  }
}




/* Animation */
@keyframes pulseDot {

  0%,
  100% {
    opacity: 1;
    transform: scale(1);
  }

  50% {
    opacity: 0.6;
    transform: scale(1.3);
  }
}