@use '../../styles/variables' as *;

:host {
  display: block;
  width: 100%;
  min-height: 100vh;
  background-color: $bg-primary;
  color: $text-primary;
  font-family: $font-family-inter;
  position: relative;
  overflow-x: hidden;
}